<header class="container-fluid bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      {{if .Site.Params.Logo}}

      <img
        src="{{.Site.Params.Logo}}"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />

      {{end}} {{if .Site.Params.Brand}} {{.Site.Params.Brand}} {{end}}
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{range .Site.Menus.main}} {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{.Name}}
          </a>
          <div class="dropdown-menu right-0" aria-labelledby="navbarDropdown">
            {{ range .Children }}

            <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
            {{end}}
          </div>
        </li>
        {{else}}
        <li class="nav-item text-dark">
          <a class="nav-link" href="{{.URL}}">{{.Name}} </a>
        </li>
        {{end}} {{end}}
      </ul>
    </div>
  </nav>
</header>
